a.btn.btn-success.mr-2(href=currentUrl+'create') Create new

table.table.table-hover
    thead.thead-light
        tr
            th(scope='col') #
            th(scope='col') Name
            th(scope='col') For
            th(scope='col') Actions
    tbody
        -
            var iter = 1;
        each item in data
            tr
                th(scope='row')= iter
                td=item.statusName
                td=item.for
                td.d-flex
                    //a.mr-1.btn.btn-primary(href=append+'/view/'+user._id) View
                    a.mr-1.btn.btn-warning(href='edit/'+item._id) Edit
                    a.mr-1.btn.btn-danger(href='delete/'+item._id) Delete
            - iter++
