-
    var errors = error;
    var {
        firstName = '',
        name = '',
        surname = '',
        email = '',
        phone = '',
        role = '',
        status = '',
        _id = '',
        statuses = [],
        roles=[]
    } = data;

div
    h1.d-inline.mr-4 Creating
form(method='post')
    .form-group.row
        label.col-sm-2.col-form-label(for='inputFirstName') First name
        .col-sm-10
            input#inputFirstName.form-control(type='text' name='firstName' placeholder='First name' value=firstName)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputName') Name
        .col-sm-10
            input#inputName.form-control(type='text' name='name' placeholder='Name' value=name)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputSurname') Surname
        .col-sm-10
            input#inputSurname.form-control(type='text' name='surname' placeholder='Surname' value=surname)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputPhone') Phone
        .col-sm-10
            input#inputPhone.form-control(type='text' name='phone' placeholder='Phone' value=phone)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputEmail') Email
        .col-sm-10
            input#inputEmail.form-control(type='email' name='email' placeholder='Email' value=email)
    .form-group.row
        label.col-sm-2.col-form-label(for='roleSelect') Select role
        .col-sm-10
            select#roleSelect.form-control(name='role')
                - var select = true
                each item in roles
                    option(value=item selected=select)=item
                    - var select=false
    .form-group.row
        label.col-sm-2.col-form-label(for='statusSelect') Select status
        .col-sm-10
            select#statusSelect.form-control(name='statusName')
                - var select = true
                each itemm in statuses
                    - var {statusName:item} = itemm
                    option(value=item selected=select)=item
                    - var select=false
    .form-group.row
        label.col-sm-2.col-form-label(for='inputPassword') Set new password
        .col-sm-10
            input#inputPassword.form-control(type='password' placeholder='password' name='password' required)
    hr.border-bottom.border-dark
    .form-group.row
        .col-sm-10
            button.btn.btn-success(type='submit') Save

