a.btn.btn-success.mr-2(href=currentUrl+'create') Create new User

table.table.table-hover
    thead.thead-light
        tr
            th(scope='col') #
            th(scope='col') User
            th(scope='col') Phone
            th(scope='col') Email
            th(scope='col') Role
            th(scope='col') Status
            th(scope='col') actions
    tbody
        -
            var iter = 1;
        each user in data
            - var {firstName='', name='', surname='', email='', phone='', role='', status='', _id=''} = user
            tr
                th(scope='row')= iter
                - var userName = `${firstName} ${name} ${surname}`
                td=userName
                td=phone
                td=email
                td=role
                - var {statusName=''} = status
                td=statusName
                td.d-flex
                    a.mr-1.btn.btn-warning(href='edit/'+_id) Edit
                    a.mr-1.btn.btn-danger(href='delete/'+_id) Delete
            - iter++
