extends layout

block content
    - var email = '';
    - var userName = '';
    if body
        if body.email
            - email = body.email
        if body.userName
            - userName = body.userName
    div.row: div.m-auto.col-sm-8.col-md-6
        div.card.text-center.text-dark.border-info.mb-3
            div.card-header
                - var title = 'Login form'
                if formType==='reg'
                    - title = 'Register form'
                p.h3= title
            form.card-body(method='post')
                if error
                    p= error.message
                    if error.key==='user exist'
                        span.text-info Go to login page or use another email
                    if error.key==='user not exist'
                        span.text-danger User with this email and password not founded
                    if error.key==='invalid'
                        span.text-warning Something went wrong... Invalid data
                    //p= JSON.stringify(error)
                if formType==='reg'
                    div.form-group
                        label(for='name') Your name
                        input#name.form-control(type='text' name='name' placeholder='Name' value=userName)
                div.form-group
                    - var classes = []
                    if error && error.key && error.key==='email'
                        - classes.push("text-danger")
                    label(for='email' class=classes) Email address
                    input#email.form-control(type='email' name='email' placeholder='Enter email' value=email)
                div.form-group
                    label(for='password') Password
                    input#password.form-control(type='password' name='password' placeholder='password')
                - var btnName = 'Sign in'
                if formType==='reg'
                    - btnName = 'Sign up'
                button.btn.btn-success(type='submit')= btnName
