a.btn.btn-success.mr-2(href=currentUrl+'create') Create new

-
    var iter = 1;
    var {messages = [], users = []} = data

table.table.table-hover
    thead.thead-light
        tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Description
            th(scope='col') Target
            th(scope='col') Created
            th(scope='col') Status
            th(scope='col') Actions
    tbody
        each item in messages
            -
                var {title='', description='', targetUser:userId='', status:{statusName=''}='', createdAt='', _id} = item
                var firstName='', name='';
                var user = users.find(u=>u._id.toString()===userId)||{name:userId, firstName:''}
            tr
                th(scope='row')= iter
                td=title
                -
                    var shortDesc = description
                    if (description.length>20)
                        shortDesc = description.substring(0,19)+"..."
                td=shortDesc
                td=user.firstName+ " " + user.name
                td=createdAt
                td=statusName
                td.d-flex
                    a.mr-1.btn.btn-warning(href='edit/'+_id) Edit
                    a.mr-1.btn.btn-danger(href='delete/'+_id) Delete
            - iter++
