-
    var {users, statuses, message:msg} = data
    var {name='', phone='', description='', title='', status: {statusName:statusName_msg=''}, targetUser:userId='', _id=''} = msg[0]

div
    h1.d-inline.mr-4 Editing
form(method='post' action=currentUrl+'edit' id='editForm')
    input#inputID(type='hidden' value=_id name='_id')
    .form-group.row
        label.col-sm-2.col-form-label(for='inputName') Guest name
        .col-sm-10
            input#inputName.form-control(type='text' name='name' placeholder='name' value=name required)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputPhone') Phone
        .col-sm-10
            input#inputPhone.form-control(type='text' name='phone'
                placeholder='phone' value=phone required)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputDescr') Description
        .col-sm-10
            input#inputDescr.form-control(type='text' name='description'
                placeholder='description' value=description required)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputTitle') Title
        .col-sm-10
            input#inputTitle.form-control(type='text' name='title'
                placeholder='title' value=title)
    .form-group.row
        label.col-sm-2.col-form-label(for='userSelect') Select user
        .col-sm-10
            select#userSelect.form-control(name='targetUser')
                - var select = true
                - users.push({name: 'teacher', _id: 'teacher'})
                each item in users
                    - var {firstName, name, status:{statusName:statusName_user=''}='',role,_id} = item
                    - var select = _id.toString()===userId || name===userId
                    option(value=_id selected=select) #{firstName} #{name} | #{role} |#{statusName_user}
    .form-group.row
        label.col-sm-2.col-form-label(for='statusSelect') Select status
        .col-sm-10
            select#statusSelect.form-control(name='statusName')
                - var select = true
                each itemm in statuses
                    - var {statusName=''} = itemm
                    - var select = statusName_msg===statusName
                    option(value=statusName selected=select)= statusName
    hr.border-bottom.border-dark
    .form-group.row
        .col-sm-10
            button.btn.btn-success(type='submit') Save


