-
    var errors = error;
    var {statuses = [], themes = [], users = [], _id='', user:userId, theme:themeId, status:{statusName_lesson}} = data;

div
    h1.d-inline.mr-4 Editing
form(method='post' action=currentUrl+'edit')
    input#inputID(type='hidden' value=_id name='_id')
    .form-group.row
        label.col-sm-2.col-form-label(for='themeSelect') Select theme
        .col-sm-10
            select#themeSelect.form-control(name='theme')
                each item in themes
                    - var {title='',_id=''} = item
                    - var select = _id.toString()===themeId
                    option(value=_id selected=select)=title
    .form-group.row
        label.col-sm-2.col-form-label(for='userSelect') Select user
        .col-sm-10
            select#userSelect.form-control(name='user')
                each item in users
                    - var {firstName, name, status:{statusName_user},role,_id} = item
                    - var select = _id.toString()===userId
                    option(value=_id selected=select) #{firstName} #{name} | #{role} |#{statusName_user}
    .form-group.row
        label.col-sm-2.col-form-label(for='statusSelect') Select status
        .col-sm-10
            select#statusSelect.form-control(name='statusName')
                 each itemm in statuses
                     - var {statusName=''} = itemm
                     - var select = statusName_lesson===statusName
                     option(value=statusName selected=select)= statusName

    hr.border-bottom.border-dark
    .form-group.row
        .col-sm-10
            button.btn.btn-success(type='submit') Save

