a.btn.btn-success.mr-2(href=currentUrl+'create') Create new

table.table.table-hover
    thead.thead-light
        tr
            th(scope='col') #
            th(scope='col') Theme
            th(scope='col') User
            th(scope='col') Status
            th(scope='col') actions
    tbody
        -
            var iter = 1;
            var {themes=[], users=[]} = additionalData;
        each lesson in data
            -
                var {theme:themeId, user:userId, status:{statusName}, _id=''} = lesson
                var user = users.find(u=>u._id.toString()===userId)
                var {title} = themes.find(t=>t._id.toString()===themeId)
                var userName = `${user.firstName||''} ${user.name||''}`
            tr
                th(scope='row')= iter
                td=title
                td=userName
                td=statusName
                td.d-flex
                    a.mr-1.btn.btn-warning(href='edit/'+_id) Edit
                    a.mr-1.btn.btn-danger(href='delete/'+_id) Delete
            - iter++
