-
    var errors = error;
    var {title='',description='', _id='', tasks:tasksIds=[], Tasks:allTasks=[]} = data;
    // var data_tasks = data.tasks;

div
    h1.d-inline.mr-4 Editing
form(method='post' action=currentUrl+'edit' id='editForm')
    input#inputID(type='hidden' value=_id name='_id')
    .form-group.row
        label.col-sm-2.col-form-label(for='inputTitle') Title
        .col-sm-10
            input#inputTitle.form-control(type='text' name='title' placeholder='Title' value=title required)
    .form-group.row
        label.col-sm-2.col-form-label(for='description') Description
        textarea#description.form-control(rows='3' name='description' form='editForm' required)= description
    .form-group
        label(for='taskSelect') Select task
        select#taskSelect.form-control(multiple='' name='tasks')
            each task in allTasks
                -var select = false
                    if (tasksIds.includes(task._id))
                        - select=true
                option(value=task._id selected=select)= task.title

    hr.border-bottom.border-dark
    .form-group.row
        .col-sm-10
            button.btn.btn-success(type='submit') Save

